<div class="flex justify-end">
  <%= link_to 'Cancel', goals_path, class: "rounded-lg py-2 px-6 bg-gray-200 text-blue-500 font-medium cursor-pointer mr-3" %>
  <%= submit_tag "Create", class: "rounded-lg py-2 px-6 bg-blue-600 text-white font-medium cursor-pointer", form: form_id %>
</div>